include:
  # - ./services/compose-anonymousoverflow.yaml
  # - ./services/compose-beets.yaml
  # - ./services/compose-beszel-intel-gpu.yaml
  # - ./services/compose-cgit.yaml
  # - ./services/compose-diun.yaml
  # - ./services/compose-dockhand.yaml
  # - ./services/compose-dumbpad.yaml
  # - ./services/compose-forgejo-server.yaml
  # - ./services/compose-jellyfin.yaml
  # - ./services/compose-memos.yaml
  # - ./services/compose-newt.yaml
  # - ./services/compose-notes-nginx.yaml
  # - ./services/compose-pad.yaml
  # - ./services/compose-radarr.yaml
  # - ./services/compose-slskd.yaml
  - ./services/compose-backrest.yaml
  - ./services/compose-beszel.yaml
  - ./services/compose-navidrome.yaml
  - ./services/compose-traefik.yaml
  - ./services/compose-sonarr.yaml
  - ./services/compose-syncthing.yaml
  - ./services/compose-qbittorrent.yaml
networks:
  traefik:
    external: true
    name: traefik # network has to be created only once before starting - docker network create traefik
  traefik-docker-socket-proxy:
    driver: bridge
    internal: true
    attachable: false
  backrest-docker-socket-proxy:
    driver: bridge
    internal: true
    attachable: false
  notes-nginx: # for newt
    driver: bridge
  beszel-agent-docker-socket-proxy:
    driver: bridge
    internal: true
    attachable: false
  beszel:
    driver: bridge
