# REFERENCE: https://pasted.drakeerv.com/8ixAw3xj
# REFERNCE: the default /config/config.yaml in the beets container
# DOCS: https://beets.readthedocs.io/en/stable/reference/config.html#global-options
directory: /hdd/Library/Music # Library directory
library: /data/db/musiclibrary.blb # Database for the Library
art_filename: cover # Important cover-* for Navidrome to properly created album artwork
threaded: yes # Use multiple cores for processing
original_date: yes # Use original release date for tagging (not the updated remastered date)
per_disc_numbering: yes # When ues, Disc 2 track 1 becomes track 11 (instead of restarting at 1).
import:
  write: yes # Write the metadata to the audio files
  copy: yes # Only copy the files from DOWNLOADS --> LIBRARY (imo lot safer and better)
  move: no # Move the downloaded files over to library (I'm sharing the Library or Media directory now so this is fine)
  resume: ask # If an import is interrupted, beets asks whether to resume next time.
  incremental: yes # Auto skip files already in the db (revert this by using -I or --noincremental to force import)
  quiet: no # Skip the prompts, and auto apply (say yes to prompts)
  quiet_fallback: skip # Skip the decision to apply if the match percentage is too low
  timid: no # With timid: yes, it would be more conservative and prompt more often. With no, it's a bit loose.
  log: /data/logs/beet.log
paths:
  # https://beets.readthedocs.io/en/stable/reference/pathformat.html
  singleton: Singles/$artist/$title
  default: Albums/$albumartist/[$year] $album%aunique{} [$format]/$track $title
  comp: Compilations/$album%aunique{} [$year] [$format]/$track $artist - $title
  albumtype_soundtrack: Soundtrack/$albumartist/[$year] $album%aunique{} [$format]/$track $title
match:
  strong_rec_thresh: 0.20 # Auto [A]pply the import when match above 80% (0.10 for 90%, 0.04 for 96% and so on)
  medium_rec_thresh: 0.35 # Matches between 80% and 65% similarity are suggested, not auto-applied.
  rec_gap_thresh: 0.35 # Even if a match is weak, suggest it if it is much better than the alternatives.
# PLUGINS
plugins:
  # - chroma # Does Audio Fingerprinting to match files by sound. Useful when filesnames are wrong, bad metadata
  # - convert # Transcodes audio files from one format to another using ffmpeg (like FLAC --> MP3)
  - embedart # Embeds album artwork directly into audio files’ metadata
  - fetchart # Locates album artwork
  - lastgenre # Additional metadata using Last.fm
  # - lyrics # NOTE: the issue is that beets does embedded lyrics which is weirdly handled by players (most prefer .lrc)
  - musicbrainz # Primary metadata authority (NOTE: this doesn't need any configuration imo, defaults are good)
  - scrub # Removes all metadata before beets works on the files (prevents prev bad metadata leaks)
  - ftintitle # Moves “featured” artists from the artist field to the title field (very nice to have)
  - zero # Removes certain metadata (scrub was meant to remove all before import, but it doesn't work reliably imo)
# PLUGIN CONFIGURATION
# https://beets.readthedocs.io/en/stable/plugins/index.html
# chroma:
#   auto: no # When no, not auto applied during imports (have to manually - beet chroma)
#   search_limit: 5 # number of AcoustID matches evaluated per track (Increase (10–15) → very obscure music)
#   data_source_mismatch_penalty: 0.5 # Prevent overriding good metadata (0.2–0.3 → strict, safer for curated libraries)
# convert:
#   auto: no
#   ffmpeg: /usr/bin/ffmpeg
#   opts: -ab 320k -ac 2 -ar 48000
#   max_bitrate: 320
#   threads: 1
#   dest:
#   pretend: no
#   link: no
#   hardlink: no
#   format: mp3
#   id3v23: inherit
#   write_metadata: yes
#   formats:
#     aac:
#       command: ffmpeg -i $source -y -vn -acodec aac -aq 1 $dest
#       extension: m4a
#     alac:
#       command: ffmpeg -i $source -y -vn -acodec alac $dest
#       extension: m4a
#     flac: ffmpeg -i $source -y -vn -acodec flac $dest
#     mp3: ffmpeg -i $source -y -vn -aq 2 $dest
#     opus: ffmpeg -i $source -y -vn -acodec libopus -ab 96k $dest
#     ogg: ffmpeg -i $source -y -vn -acodec libvorbis -aq 3 $dest
#     wma: ffmpeg -i $source -y -vn -acodec wmav2 -vn $dest
#   auto_keep: no
#   tmpdir:
#   quiet: no
#   embed: yes
#   paths: {}
#   no_convert: ''
#   never_convert_lossy_files: no
#   copy_album_art: no
#   album_art_maxwidth: 0
#   delete_originals: no
#   playlist:
# https://beets.readthedocs.io/en/stable/plugins/embedart.html#configuration
embedart:
  auto: yes # When yes, will auto apply when running import (essentially auto enabling it)
  compare_threshold: 0 # When 0, Always replace existing embedded art.
  ifempty: no # When no, Embed art even if files already contain embedded artwork.
  maxwidth: 0 # When 0, No resizing of artwork.
  quality: 0 # When 0, Use original image quality; no JPEG recompression.
  remove_art_file: no # When no, Do not delete external cover.jpg / folder.jpg after embedding.
# https://beets.readthedocs.io/en/stable/plugins/fetchart.html#configuration
fetchart:
  auto: yes # When yes, Auto enable during import
  cautious: no # When no, fetch art even when metadata match confidence is imperfect (staying cautious)
  minwidth: 800 # In px, lower limit
  maxwidth: 0 # When 0, no upper limit
  quality: 0 # When 0, no recompression
  max_filesize: 0 # When 0, no file size limit
  enforce_ratio: no # When no, non-square images are also allowed
  store_source: no # When no, do not write the art source into tags
  high_resolution: yes # When yes, go for the highest-resolution art available
  deinterlace: no # When no, do not post-process interlaced images
  cover_format: jpg # Only jpg images
  sources: # Searched in order
    - coverart # MusicBrainz Cover Art Archive
    - itunes
    - amazon
    - filesystem
# https://beets.readthedocs.io/en/stable/plugins/lastgenre.html#configuration
# Doesn't need too much tweaking
lastgenre:
  auto: yes
  count: 3 # Number of genres to fetch. Default: 1
  separator: '; ' # Separator b/w multiple genre tags
# https://beets.readthedocs.io/en/stable/plugins/lyrics.html#configuration
# lyrics:
#   auto: yes
#   synced: yes # WHen yes, instead of plain lyrics used synced lyrics (from lrclib/lrcget)
#   sources:
#     - lrclib
#     - genius
#   force: yes # When yes, force download even when files already have them
# https://beets.readthedocs.io/en/stable/plugins/musicbrainz.html#configuration
# musicbrainz docs for reference only
# https://beets.readthedocs.io/en/stable/plugins/scrub.html
scrub:
  auto: yes
# https://beets.readthedocs.io/en/stable/plugins/ftintitle.html#configuration
ftintitle:
  auto: yes
  keep_in_artist: yes # Keep the featuring X part in the artist field as well (along with the title track)
# https://beets.readthedocs.io/en/stable/plugins/zero.html#configuration
zero:
  auto: yes
  fields: comments encoder albumdisambig # Removes only these 3 fields from the metadata
  omit_single_disc: yes # When yes, If an album has only one disc, remove the disc=1
  update_database: true # WHen true, Update the db as well
