- name: Install Samba
  ansible.builtin.apt:
    name: samba
    state: present
    update_cache: true
    cache_valid_time: 3600
- name: Deploy smb.conf
  ansible.builtin.template:
    src: smb.conf.j2
    dest: /etc/samba/smb.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Samba
- name: Ensure Samba service is enabled and running
  ansible.builtin.service:
    name: smbd
    state: started
    enabled: true
